body {
	background-color: #F9EBEA ;
}

/* Barra de navegación */

div.menu{
    font-size: 18px;
    height: 70px;
    background-size: cover;
    font-style: oblique;
    background-color:#7B241C  ;
    margin-left: 30px;
}
ul.horizontal {  
    justify-content: center;
    margin:0;
    padding:50;
}
ul.horizontal li {
    display: inline-block;
    padding: 0.5rem 0;
}


nav{
    background-color: #7B241C ;
    padding-top: 15px;
    padding-bottom: 5px;
}

.navegacion{
    text-align: center;
    display: flex;
    padding-left: 10px;
}

ul li a{
     display: inline-block; 
    text-decoration: none;
    color: white;
}
ul li{
    display: inline-block; 
    list-style: none;
    margin: 0px 20px;
}


.logos{
    padding-left: 60%;
}
.redes{
     
    letter-spacing: 10px;
}

/* Body */
.titulos{
    background-image: url(../img/conte.jpg);
    background-size: cover;
    height: 400px;
    text-align: center;
    font-style: oblique;
    color: #1C2833 ;
}

.contenedor{
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
}



.boton1{
    background-color: #7B241C ;
    color: white;
    width: 150px;
    height: 50px;
    border: 0px solid #202020;
    font-size: 15px;
    cursor: pointer;
    
}

.boton{
    background-color: white ;
    color: #202020;
    width: 150px;
    height: 30px;
    border: 1px solid #202020;
    font-size: 18px;
    cursor: pointer;
    transition: color .4 linear ;
}


section{
    margin-bottom: 20px;
}

section h2{
    font-size: 25px;
    text-align: center;
    font-style: oblique;
}

section p{
    padding-left: 30px;
    padding-right: 30px;
}

/* Pie de pagina */
footer{
    background-color: #F9EBEA ;
}
.tit{
    text-align: center;
    font-style: oblique;
}
.formu{
    padding-left: 50%;
}

.pie{
    padding-top: 10px;
    padding-left: 40%;
    background-color: #7B241C;
    color: white;
    display: flex;
    
}